<div class="row">
  <aside class="col-sm-4">
  </aside>
  <div class="col-sm-8">
<% if items.any? %>
  <ul class="list-unstyled mt-2">
    <% items.each do |item| %>
      <li class="d-flex">
        <div>
          <div>
            <%= link_to item.user.name, user_path(item.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= item.created_at %></span>
          </div>
          <div>
            <p>商品名：<%= link_to item.name, item_path(item), class: "text-decoration-none" %></p>
            <p>製造会社：<%= item.company %></p>
            <p>値段：¥<%= item.price %></p>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group"> 
                <% if current_user == item.user %>
                  <%= link_to "削除", item, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                <% end %>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group"> 
                <%= render 'favorites/favorite_button', item: item %>
              </div>
            </div>
          </div>
        </div>
      <%= image_tag item.picture.url, :size => '150x100', :alt => 'Photo' if item.picture? %>
      </li>
    <% end %>
  </ul>
  <div">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>
  </div>
</div>