<div class="row">
  <aside class="col-sm-5">
    <%= render 'item_detail', item: @item, user: @user  %>
    <div class="mb-3 text-center">
      <% unless current_user.reviewing?(@item) %>
        <%= link_to 'レビューする', new_item_review_path(@item), :class => "btn btn-secondary" %>
      <% end %>
    </div>
  </aside>
  <% if @reviews.any? %>
    <div class="col-sm-7">
      <h1 class="text-center">レビュー一覧</h1>
      <ul class="list-unstyled mt-2">
        <% @reviews.each do |review| %>
          <li class="d-flex justify-content-left">
            <img class="rounded me-2 mb-5" src="<%= gravatar_url(review.user, { size: 100 }) %>" alt="">
            <div>
              <div>
                <%= link_to review.user.name, user_path(review.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= review.created_at %></span>
              </div>
              <div>
                <p>総合点：<%= review.score %></p>
                <p>タイトル：<%= link_to review.title, item_review_path(@item,review), class: 'btn btn-secondary' %></p>
                <p>レビュー：<%= truncate(review.text, length: 30) %></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="pagination justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  <% else %>
    <div class="col-sm-7">
      <div class="text-center">
        <h2>この商品のレビューはまだありません。</h2>
      </div>
    </div>
  <% end %>
</div>