<div class="row">
  <aside class="col-sm-5">
    <%= render 'items/item_detail', item: @item, user: @item_user  %>
    <div class="mb-3 text-center">
      <% unless current_user.reviewing?(@item) %>
        <%= link_to 'レビューする', new_item_review_path(@item,@review), :class => "btn btn-secondary" %>
      <% end %>
    </div>
  </aside>
  <div class="col-sm-7">
    <div class="text-center">
      <h1>レビュー内容</h1>
    </div>
    <table class="table table-bordered">
      <tr>
        <th>投稿者</th>
        <td><%= link_to @user.name, user_path(@review.user_id) %></td>
      </tr>
      <tr>
        <th>総合点</th>
        <td><%= @review.score %></td>
      </tr>
      <tr>
        <th>タイトル</th>
        <td><%= @review.title %></td>
      </tr>
      <tr>
        <th>レビュー</th>
        <td><%= @review.text %></td>
      </tr>
    </table>
    <div class="mb-3 text-center">
      <%= link_to "戻る", item_path(@item), class: 'btn btn-secondary' %>
      <% if current_user == @review.user %>
        <%= link_to "削除", @review, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </div>
  </div>
</div>